
body {
    font-family: $base-font;
    font-size: $base-font-size;
    background-color: $light-dark;
}

h1, h2, h3, h4, h5, h6 {
    
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: $secondary;
    &:hover {
        color: $primary;
    }
}

.titulo {
    margin-top: 0;
}