// Colors

$primary: #6D02FE;
$secondary: #EA693D;
$tertiary: #343434;
$light: #FFF;
$dark: #666;
$medium: #999;
$light-dark: #f0f0f0;
$light-grey: #EEE;
$light-grey1: #DDD;


$success: #27AE60;
$danger: #EB5757;
$info: #2D9CDB;
$default: grey;

// Color variation



// Typo

$base-font: 'Inter', sans-serif;
$base-font-size: 16px;
$light-font: 300;
$medium-font: 500;
$bold-font: 700;
$black-font: 900;

// Media Queries

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

// Transition

$transition: all .3s ease-out;

// Base Radius
$base-radius: .5rem;

// Box-shadow
$box-shadow-light: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
// $box-shadow-medium:;
$box-shadow-heavy: 0 7px 30px -10px rgba(150,170,180,0.5);

//
$b-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.35);
