/* Accesos Directos */

.view-accesos {
    // width: 100%;
    // overflow-y: hidden;
    // height: 14rem;
    // padding: 1rem;
    width: calc(100% + 5rem);
    overflow-y: hidden;
    height: 12rem;
    padding: 0 3rem;
    margin-right: -3rem;
    margin-left: -3rem;
    margin-bottom: 2rem;
    
}

.cont-accesos {
    width: auto;
    display: flex;
}

.acceso {
    padding: 1rem;
    background-color: $primary;
    color: $light;
    border-radius: 1rem;
    box-shadow: $b-shadow;
    // margin-bottom: 1rem;
    margin-right: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 16rem;
    cursor: pointer;
    transition: $transition;
    display: block;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background-color: darken($primary, 30%);
    }
    &__header {
        width: 100%;
        display: flex;
        align-items: center;
        .icono {
            font-size: 1rem;
            margin-right: .5rem;
        }
        .leyenda {
            font-size: 0.8rem;
            font-weight: 700;
        }
    }
    &__destinatario,
    &__transaccion {
        display: flex;
        margin-right: 0.5rem;
        align-items: center;
        margin: 1rem 0 .5rem;
        .icono {
            font-size: 2rem;
            margin-right: 1rem;
            color: lighten($primary, 20%);
        }
        .nombre-destinatario, .valor {
            font-size: 1.4rem;
            font-weight: $black-font;
        }
        .fecha {
            font-size: 0.8rem;
        }
        .valor {
            small {
                font-size: 1rem;
                font-weight: $medium-font;
            }
        }
    }
}

.acceso.active {
    background-color: $secondary;
    &:hover {
        background-color: darken($secondary, 30%);
    }
    .acceso__destinatario, 
    .acceso__transaccion {
        .icono {
            color: lighten($secondary, 20%) !important;
        }
    }
}