/* Alerts */













/* Error Messages */

.error-msg {
    color: $danger;
    font-size: .9rem;
    padding: 0.5rem 0;
    &::before {
        content: '\f06a';
        display: inline-block;
        margin-right: .5rem;
        font-family: 'Font Awesome 5 Pro';
        font-size: 1rem;
    }
}