/* Botones */

.btn {
    border: 1px solid $light-grey1;
    // height: 3.125rem;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    padding: 1rem 1rem;
    display: inline-block;
    letter-spacing: 1px;
    box-shadow: $box-shadow-light;
    color: $light;
    transition: $transition;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    &:hover {
        background-color: $secondary;
        color: $light;
    }
    &--default {
        background-color: $light;
        color: $primary;
    }
    &--primary {
        background-color: $primary;
    }
    &--secondary {
        background-color: $secondary;
    }
    &--link {
        background-color:transparent;
        color: $primary;
    }
    &--danger {
        background-color: $danger;
    }
    &--success {
        background-color: $success;
    }
    &--info {
        background-color: $info;
    }
    &--block {
        display: block;
        margin-bottom: 1rem;
        width: 100%;
    }
    &--inline-block {
        display: inline-block;
    }
    &--icono {
        padding: 1rem 2rem;
        display: flex;
        // background-color: $medium;
        align-items: center;
        justify-content: center;
    }
    &--brand {
        img {
            height: 22px;
        }
    }
    &--sm {
        padding: 0.5rem;
        font-size: 0.8rem;
        // border: 1px solid $medium;
        // height: 1.25rem;
        // color: $medium;
        img {
            width: .8rem;
        }
    }
}