/* Calculadora */

.calc {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    &__label {
        position: absolute;
        font-size: 0.8rem;
        left: 0.5rem;
        top: 0.5rem;
        color: $primary;
    }
    &__campo {
        display: flex;
        // border: 1px solid #DDD;
        height: 4rem;
        position: relative;
        border-radius: 8px;
        &:first-child {
            margin-bottom: 1rem;
        }
    }
    &__input {
        // border: 1px solid skyblue;
        border: none;
        padding-top: 1rem;
        padding-left: .5rem;
        padding: 1.5rem .5rem .5rem;
        height: 100%;
        display: inline-block;
        outline: 0;
        border-radius: 8px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1.8rem;
        font-weight: 700;
        width: 100%;
        color: $primary;
        box-shadow: $box-shadow-light;
    }
    &__selector-divisas {
        width: 5.5rem;
        background-color: $light;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: 1px solid $light-grey1;
        select {
            width: 100%;
            height: 100%;
        }
    }

    /* Dropdown */
    .dropdown--calc {
        .dropdown__item {
            font-weight: 700;
            color: $medium;
        }
    }
}

.calc__input::placeholder {
    color: $primary;
}