/* Card */

.card {
    border-radius: 8px;
    background-color: $light;
    padding: 1rem;
    &__titulo {
        text-transform: uppercase;
        font-weight: $light-font;
        font-size: 1.2rem;
        font-weight: $bold-font;
        color: $medium;
    }
    &__body {
       
    }
    &__item {
         padding: 0.5rem 0;
    }
    &__legend {
        font-weight: $bold-font;
        color: $medium;
    }
    &--comisiones {
        margin: 1rem 0;
        font-size: 0.8rem;
        color: $secondary;
        .card__titulo {
            font-weight: 300;
        }
    }
}