// Contenedor de botones

.cont-btn-form {
    margin-top: 2rem;
    @include mq($breakpoint-lg) {
        display: flex;
        justify-content: space-between;
        .btn--block {
            width: auto !important;
        }
        .btn:nth-of-type(1) {
            order: 2;
        }
    }
}

.cont-btn-redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .btn {
        width: 46%;
    }
}