/* Destinatarios */

.dest {
    display: flex;
    align-items: center;
    background-color: $light;
    border-radius: .5rem;
    padding: 0.5rem;
    // box-shadow: $box-shadow-heavy;
    transition: $transition;
    cursor: pointer;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
    &:hover {
        box-shadow: $box-shadow-heavy;
        background-color: $light-dark;
    }
    &__avatar {
        width: 50px;
        height: 60px;
        overflow: hidden;
        img{
            width: 100%;
            object-fit: contain;
        }
    }
    &__iniciales {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primary;
        color: $light;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 1.4rem;
        text-transform: uppercase;
    }
    &__nombre {
        font-size: 1.125rem;
        font-weight: $black-font;
        color: $dark;
       margin-left: 0.5rem;
       color: $primary;
    }
    &__toolbar {
        margin-left: auto;
        min-width: 6rem;
        text-align: right;
        .btn {
            border: none;
            background-color: transparent;
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            padding: .4rem;
            box-shadow: none;
            &:hover {
                background-color: $primary;
            }
        }
        .inner-btn {
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            img {
                width: 1.4rem;
            }
        }
    }
}
