/* Detalle Envio */

.detalle--envio {
    background-color: $light;
    color: $dark;


    hr {
        border: none;
        background-color: lighten($secondary, 30%);
        height: 1px;
    }

    .notificacion {
        &__titulo {
            color: $primary;
            text-align: left;
            font-weight: $black-font;
            text-transform: uppercase;
            font-size: .8rem;
            &:first-child {
                margin-top: 0;
            }
        }
        &__detalle {
            display: flex;
            text-align: center;
            justify-content: space-between;
            margin: 1rem 0;
            font-size: 0.8rem;
            font-weight: 700;
            color: #999;
        }
        &__valor-detalle {
            font-weight: $bold-font;
            color: $dark;
            .currency {
                font-size: 0.8rem;
            }
            &.numero {
                font-size: 1.2rem;
            }
        }
    }
    
}