/* Base Dropdwon */

.dropdown {
    // width: 300px;
    // border: 1px solid #DDD;
    position: relative;
    cursor: pointer;
    transition: $transition;
    text-align: left;
    // padding: .5rem 1rem;
    max-width: 200px;
    border: 1px solid #CCC;
    border-radius: .5rem;
    &:hover {
        background-color: $light-grey1;
    }
    &--calc {
        border-radius: 0;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        width: 100%;
        height: 100%;
        border: none;
        .dropdown__header {
            align-items: center;
            justify-content: center;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__header {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        
    }
    &__legend {
        display: flex;
        align-items: center;
        font-weight: 900;
        color: $primary;
        pointer-events: none;
        padding: .5rem 1rem;
        width: 100%;
        justify-content: space-between;
        &::after {
            content: '';
            display: inline-block;
            background: url( ../img/iconos/arrow-down.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            
            width: 11px;
            height: 6px;
            margin-left: 0.5rem;
            // position: absolute;
            // right: .5rem;
            // top: 50%;
        }
    }
    &__list {
        padding: 0;
        display: none;
        // border: 1px solid $light-grey1;
        box-shadow: $box-shadow-light;
        position: absolute;
        max-width: 300px;
        min-width: 200px;
        background-color: $light;
        border-radius: .5rem;
        top: 19px;
        right: 0;
        z-index: 200;
    }
    &__item {
        padding: .8rem;
        transition: $transition;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        &:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        &:hover {
            background-color: $light-grey;
        }
    }
}

.show {
    display: block !important;
}