/* Envío */

/* Destinatarios */

.envio {
  // box-shadow: $box-shadow-heavy;
  transition: $transition;
  cursor: pointer;
  background-color: $light;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding: .5rem;
  &:hover {
    box-shadow: $box-shadow-heavy;
    background-color: $light-dark;
  }
  &__header {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
  }
  &__body {
      padding: 0 1rem;
      padding-bottom: .5rem;
  }
  &__avatar {
    width: 50px;
    height: 60px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  &__iniciales {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $primary;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  &__nombre {
    font-size: 1.125rem;
    font-weight: $black-font;
    color: $dark;
    margin-left: 0.5rem;
    // width: 10.625rem;
    color: $primary;
    small {
      display: block;
      font-weight: $medium-font;
    }
  }
  &__valor {
    margin-left: auto;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-weight: $bold-font;
    color: $secondary;
    text-align: right;
    width: 8.75rem;
    small {
      font-size: 0.8rem;
    }
  }
  &__toolbar {
      display: flex;
      justify-content: space-between;
  }
  .notificacion {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      background-color: transparent;
      border-top: 1px solid $light-grey1;
      border-bottom: 1px solid $light-grey1;
      margin-bottom: 1rem;
  }
  @include mq($breakpoint-lg) {
    margin-right: 1rem;
    }
}
