/* Subir archivos, comprobantes, etc */

.upload-file {
    display: flex;
    flex-direction: column;
    &__label {
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: center;
        border: 2px dotted $secondary;
        border-radius: .5rem;
        min-height: 14.125rem;
        flex-direction: column;
        cursor: pointer;
        transition: $transition;
        .icon {
            font-size: 4rem;
            color: $secondary;
        }
        p {
            font-weight: $medium-font;
            text-transform: uppercase;
            color: $secondary;
            text-align: center;
        }
        &:hover {
            background-color: $primary;
        }
    }
}

.timer {
    display: block;
    margin: auto;
    margin: 2rem auto;
    background-color: $info;
    padding: 1rem;
    border-radius: .5rem;
    color: $light;
}