/* Controls */

/* Forms */

.form-group {
  display: block;
  margin: 0.5rem 0;
  &__label {
    display: block;
    margin: 0.5rem 0;
    margin-top: 1rem;
    color: $dark;
    // font-weight: $bold-font;
  }
  &__field, &__select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $light-grey1;
    background-color: $light;
    width: 100%;
    border-radius: $base-radius;
    color: $dark;
    &:focus {
      outline: none;
    }
  }
  &__select {
  
    option {
    
    }

  }
}

/* Campos especiales */
.cont-pass-btn {
  position: relative;
}
.input-reveal {
  position: absolute;
  z-index: 10;
  width: 3rem;
  height: 2rem;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &:hover {
      &::after {
          color: $secondary;
      }
  }
  &::after {
    content: "\f06e";
    font-family: "Font Awesome 5 Pro";
    display: inline-block;
    color: $primary;
  }
  &.show-pass {
    &::after{
        content: "\f070";
    }
  }
}

/* Radio */

// Opciones Envío
.option-selector {
  .radio {
    display: block;
    margin: 0.5rem 0;
    color: $primary;
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    &__input {
      display: flex;
      input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .radio__control {
          background: radial-gradient(orange 50%, rgba(255, 0, 0, 0) 51%);
        }
        &:focus + .radio__control {
          box-shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em currentColor;
        }
      }
    }
    &__label {
      line-height: 1;
    }
    &__control {
      display: block;
      width: 1.2em;
      height: 1.2em;
      border-radius: 50%;
      border: 0.1em solid $primary;
      transform: translateY(-0.05em);
    }
  }
}

// Selector tipo destinatario

.option-destinatario {
}

// Select
