/* Mensajes */

.mens {
    display: flex;
    align-items: center;
    background-color: $light;
    border-radius: .5rem;
    padding: 2rem;
    flex-direction: column;
    transition: $transition;
    cursor: pointer;
    position: relative;
    &:hover {
        box-shadow: $box-shadow-heavy;
        transition: $transition;
    }
    margin-bottom: 0.75rem;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        text-align: left;
        margin: 0;
        color: $dark;
    }
    &__body {
        font-size: 0.8rem;
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &--alert {
        color: $danger;
    }
    .btn--icono {
        padding: 0;
        height: 2rem;
        width: 2rem;
        box-shadow: none;
        border: none;
        border-radius: 50%;
        position: absolute;
        right: 1rem;
        top: 1rem;
        &:hover {
            background-color: $light-dark;
        }
    }
    .btn-cerrar {
        display: block;
        position: absolute;
        right: .5rem;
        top: .5rem;
        color: $danger;
        font-size: 1.4rem;
        transition: $transition;
        &:hover {
            color: $primary;
        }
    }
    @include mq($breakpoint-lg) {
        margin-right: 1rem;
    }
    // &::before {
    //     content: '\f057';
    //     display: block;
    //     position: absolute;
    //     right: .5rem;
    //     top: .5rem;
    //     font-family: 'Font Awesome 5 Pro';
    // }
}