/* Notificaciones */

.notificacion {
    padding: 2rem;
    margin-bottom: 2rem;
    background-color: $light;
    border-radius: .5rem; 
    box-shadow: $box-shadow-light;
    text-align: center;
    &__text {
        font-size: 1rem;
        color: $dark;
        text-align: center;
    }
}