// Selector tipo destinatario

.option-destinatario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    input[type="radio"] {
        appearance: none;
    }
    label {
        width: 9rem;
        height: 9rem;
        background-color: $primary;
        color: $light;
        margin: 0.5rem auto;
        border-radius: .5rem;
        box-shadow: $box-shadow-heavy;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: $transition;
        cursor: pointer;
        img {
            width: 2.2rem;
        }
        span {
           margin-top: 1rem;
           display: block;
           font-weight: $black-font;
           font-size: 1.2rem;
           text-align: center;
        }
    }
    input[type="radio"]:checked + label {
        background-color: $secondary;
    }
}