/* Selector Avatar */

.selector-avatar {
    padding: 2rem;
    background-color: $light;
    border-radius: .5rem;
    box-shadow: $box-shadow-heavy;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &__item {
        cursor: pointer;
        .avatar {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            
            border: 2px solid transparent;
            img{
                max-width: 100%;
                transition: $transition;
            }
        }
        &.active {
            .avatar {
                filter: grayscale(100%);
            }
        }
    }
    .btn {
        max-width: 18.75rem;
        margin: auto;
        margin-top: 2rem;
    }
}