/* Selector Pagos */

.selector-pago {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__item {
        margin: 1rem 0;
        width: 100%;
        box-shadow: $b-shadow;
        border-radius: .5rem;
    }
    &__radio {
        opacity: 0;
        position: fixed;
        width: 0;
    }
    &__label {
        display: inline-block;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        background-color: $primary;
        color: $light;
        cursor: pointer;
        transition: $transition;
        // width: 18.75rem;
        width: 100%;
        height: 7.625rem;
        &:hover {
            background-color: darken($primary, 30%);
        }
        h2 {
            font-size: 1.2rem;
            margin: 0.5rem 0;
        }
        p {
            margin: 0;
            word-wrap: break-word;
        }
    }
    @include mq($breakpoint-lg) {
        flex-direction: row;
        &__item {
            margin: 0 1rem;
            margin-left: 0;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.selector-pago__radio:checked + .selector-pago__label {
    background-color: $secondary;
}
