// Pasos

.cont-pasos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.paso {
    display: inline-block;
    text-align: center;
    &__numero {
        width: 2.5rem;
        height: 2.5rem;
        background-color: $primary;
        color: $light;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: .5rem;
    }
    &__leyenda {
        color: $primary;
        text-transform: uppercase;
        font-size: 0.6rem;
    }

}

.paso--activo {
    .paso__numero {
        background-color: $secondary;
    }
    .paso__leyenda {
        color: $secondary;
        font-weight: $black-font;
    }
}

.cont-form-pasos {

}