/* Tabs */

.cont-tabs {
    display: flex;
    border-bottom: 1px solid lighten($secondary, 20%);
    margin: 2rem 0;
}

.tab {
    cursor: pointer;
    color: $secondary;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: $transition;
    margin-bottom: -1px;
    &:hover {
        background-color: $secondary;
        color: $light;
    }
    &__icono {
        font-size: 1.5rem;
        padding: .5rem 2rem;
        display: block;
    }
    &.active {
        background-color: $secondary;
        color: $light;
    }
}

.tab-panel {
    display: none;
    &.active {
        display: block;
    }
}