/* Header Section */

.header-section {
    display: flex;
    padding: 1rem 0;
    padding-top: 0;
    // margin: 1rem 0;
    align-items: center;
    justify-content: space-between;
    &__title {
        font-weight: 300;
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 0;
        margin-right: 1rem;
    }
    &__subtitle {
        width: 100%;
        margin-top: 0;
        font-weight: $medium-font;
    }
}