/* Main */

main {
    // height:;
   //  border: 1px solid red;
    overflow: hidden;
    overflow-y: auto;
    padding: 2rem;
    padding-bottom: 100px;
    height: calc(100vh - 100px);
    margin-top: 80px;
    // margin-bottom: 82px;
    @include mq($breakpoint-lg) {
        width: calc( 100vw - 200px);
        height: calc(100vh - 80px);
        margin-left: 200px;
        margin-top: 65px;
    }

    * {
        max-width: 800px;

    }
}