/* Nav */

.nav {
    position: fixed;
    background-color: $light;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: .5rem 1rem;
    z-index: 100;
    bottom: 0;
    left: 0;
    right: 0;
    &__cont-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__item {
        margin: 0 .5rem;
        text-align: center;
        cursor: pointer;
        transition: $transition;
        &:first-child {
            display: none;
        }
    }
    &__link {
        text-transform: uppercase;
        font-size: 0.7rem;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: $primary;
        &:hover {
            color: $secondary;
            i {
                color: $secondary;
            }
        }
    }
    &__icon {
        margin-bottom: 0.5rem;
        display: block;
        font-size: 1.625rem;
        
    }

    @media (min-width: $breakpoint-lg) {
        // top: 73.6px;
        top: 0;
        right: auto;
        z-index: 11;
        padding: 0.5rem 0;

        border-top-left-radius: 0;
        
        &__cont-links {
            width: 120px;
            flex-direction: column;
        }
        &__item {
            margin:0;
            padding: 2rem;
            width: 100%;
            &:hover {
                background-color: $light-grey;
            }
            &:first-child {
                cursor: none;
                display: block;
                padding: 0;
                margin-bottom: 2rem;
                &:hover {
                    background-color: transparent;
                }
            }
            
        }
        &__legend {
            display: none;
        }
        &__icon {
            margin-bottom: 0;
        }
    }
}

/* Top Navbar */

.topbar {
    background-color: $light;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        background-color: $light;
    }
    &__cont-links {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        background-color: $light;
        position: absolute;
        top: -5rem;
        transition: $transition;
        padding: .5rem 0;
        &.open {
            top: 3.4rem;
        }
    }
    &__item {
        margin: 0 .5rem;
        text-align: center;
    }
    &__link {
        text-transform: uppercase;
        font-size: .8rem;
        text-decoration: none;
        color: $secondary;
        display: flex;
        flex-direction: column;
        i {
            font-size: 1.5rem;
            display: block;
            margin-bottom: 0.5rem;
        }
        &:hover {
            color: $primary;
        }
    }
    &__nav {
        cursor: pointer;
    }
    &__icon {
        display: block;
        margin-bottom: 0.5rem;
    }

    &--btn {
        justify-content: flex-end;
        // padding-right: 1rem;
    }


    @media (min-width: $breakpoint-lg) {
        padding: .5rem 0;
        align-items: end;
        &__content {
            display: none;
        }
        &__cont-links {
            // width: 28rem;
            width: 100%;
            margin-left: auto;
            display: flex;
            justify-content: flex-end;
            top: 0;
        }
        &__item {
            margin-right: 2rem;
        }
        &__link {
            flex-direction: row;
            align-items: center;
        }
        &__icon {
            margin-right: 0.5rem;
        }
        &__legend {
            display: none;
        }
    }
}


